{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}


{% block content %}
<div style="color: white;" class="container my-5">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">
  
      <div class="title text-center">Change Password</div>

      <form method="post">{% csrf_token %}

        {% include 'includes/form.html' %}
        <div class="text-center">
          <button class="btn btn-tool mt-3 w-50" type="submit">Change</button>
        </div>

      </form>
    <div class="card-footer">
        
      <div class="list-group text-center">

<!-- <span class="help-text py-2">Forgot your password? <a href="{% url 'password_reset' %}">Reset Password</a></span> -->
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
