{% extends 'base.html' %}
{% load static %}

{%block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12 col-lg-6 mx-auto">
            <form action="{% url 'signup' %}" method="post">{% csrf_token %}
                {% include 'includes/form.html' %}
                <div class="mb-3 mb-0 text-center">
                    <button class="btn btn-tool w-100" type="submit">Sign Up</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
