{% load static %}
<p>You must present your ID and the QR code below at the door to enter. QR codes are associated with your name and cannot be transferred or re-used.</p>
<div>76 Mt Auburn St.</div>
<div>10PM</div>
<br>
<div>{{ name }}</div>
<div>Your QR Code: <a href="{{ display_link }}">{{ display_link }}</a></div>
<br>
<p>We ask that everyone remain respectful and mindful that the party’s theme does not warrant any sexual or offensive activity. Please come dressed in attire you feel comfortable in. Photos are strictly prohibited at the event to ensure the safety and privacy of our guests and members. This no photos policy will be strictly enforced. Any misconduct will not be tolerated and will result in immediate removal from the party and barred entry to future events.</p>